
html {
    overflow-x: hidden;
}

.logo {
    position: absolute;
    left: -13px;
    top: -88px;
}


.homephoto {
    position: absolute;
}


.services {
    position: absolute;
    left: 530px; 
	top: 40px; 
	width: 129px;

}


.akcii {
    position: absolute;
    left: 710px; 
	top: 40px; 
}


.contacts {
    position: absolute;
    left: 830px; 
	top: 40px; 
}


.company     {
    position: absolute;
    left: 965px; 
	top: 40px;
}


.vhod {
    position: absolute;
    left: 1116px; 
	top: 30px;
    color: aliceblue;
    font-size: 18px;
}


.registration {
    position: absolute;
    left: 1116px; 
	top: 50px;
    color: aliceblue;
    font-size: 18px;
}


.links {
    color: black;
    text-decoration: none;
}


.one {
    position: absolute;
    left: 409px; 
	top: 246px;
    text-shadow: 2px 1px 2px  #ffffff;
}


.to {
    position: absolute;
    left: 410px; 
	top: 297px;
    font-size: 19px;
}


.vidilenie {
    color: rgb(0, 153, 255);
    font-size: 21px;
    font-weight: 1000;
    /*text-decoration: underline;*/
}


.button {
    position: absolute;
    left: 580px; 
	top: 390px;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    padding: 7px 13px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    transition-duration: 0.3s;
}


.button:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}


.home2 {
    position: absolute;
    left: 350px;
    top: 1065px;
    font-size: 22px;
}


.welcome {
    left: 125px;
    top: -100px;
    position: absolute;
    text-shadow: 2px 1px 2px  #ffffff;
}


.linkcompany {
    text-decoration: none;
    color: rgb(0, 153, 255);
    
}


.linkcompany:hover {
    color: black;
}


.next {
    position: absolute;
    left: 280px;
    top: 1122px;
    font-size: 22px;
}


.interesting {
    position: absolute;
    left: 500px;
    top: 1210px;
    font-size: 26px;
    text-decoration: underline;  
}


.button2 {
    position: absolute;
    left: 510px;
    top: 1310px;
    /*font-size: 22px;*/
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    padding: 7px 13px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    transition-duration: 0.3s;
}


.button2:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}


.center {
    position: absolute;
    left: 340px;
}


.more {
    position: absolute;
    left: 440px;
    top: 1750px;
    font-size: 20px;
}


               /*Анимация стрелок*/


.arrow-7 {
    position: absolute;
    left: 570px;
    top: 1770px;
    margin: 40px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}

.vidilenie2 {
    color: rgb(0, 153, 255);
    font-size: 21px;
    font-weight: 1000;
}



/*Отзывы*/


.container1 {
    
    position: relative;
    top: 220px;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 30px; 
    padding: 22px 20px 35px;
    margin: 14px 0;
}


.container1 img {
    float: left;
    margin-right: 25px;
    border-radius: 60%;
}


.container1 span {
    color: rgb(0, 153, 255);
    font-size: 20px;
    margin-right: 15px;
}


/*Далее идёт код для страницы prices.html*/


.prices {
    position: absolute;
    left: 535px;
    top: 50px;
    font-size: 24px;    
}


.photo1 {
    position: absolute;
    top: 190px;
}


.woomanhair1 {
    position: absolute;
    top: 240px;
    left: 680px;
    font-size: 21px;
}


.woomanhair2 {
    position: absolute;
    top: 240px;
    left: 1150px;
    font-size: 21px;
}


.manhair1 {
    position: absolute;
    top: 310px;
    left: 680px;
    font-size: 21px;
}


.manhair2 {
    position: absolute;
    top: 310px;
    left: 1150px;
    font-size: 21px;
}


.childhair1 {
    position: absolute;
    top: 380px;
    left: 680px;
    font-size: 21px;
}


.childhair2 {
    position: absolute;
    top: 380px;
    left: 1150px;
    font-size: 21px;
}


.oldhair1 {
    position: absolute;
    top: 450px;
    left: 680px;
    font-size: 21px;
}


.oldhair2 {
    position: absolute;
    top: 450px;
    left: 1150px;
    font-size: 21px;
}
