


.logo {
    position: absolute;
    left: -13px;
    top: -88px;
}


.homephoto {
    position: absolute;

}


.services {
    position: absolute;
    left: 530px; 
	top: 40px; 
	width: 129px;

}


.akcii {
    position: absolute;
    left: 710px; 
	top: 40px; 
}


.contacts {
    position: absolute;
    left: 830px; 
	top: 40px; 
}


.company     {
    position: absolute;
    left: 970px; 
	top: 40px;
}


.vhod {
    position: absolute;
    left: 1170px; 
	top: 30px;
    color: aliceblue;
}


.registration {
    position: absolute;
    left: 1130px; 
	top: 90px;
    color: aliceblue;
}